{% block dynamic_form_widget -%}
    {{ form_row(form.name) }}

    {{ form_errors(form.fields) }}
    <div {{ stimulus_controller('tkuska--dynamic-form--form-collection') }}
            data-tkuska--dynamic-form--form-collection-index-value="{{ form.fields|length > 0 ? form.fields|last.vars.name + 1 : 0 }}"
            data-tkuska--dynamic-form--form-collection-prototype-value="{{ form_widget(form.fields.vars.prototype)|e('html_attr') }}"
    >
        <div class="collection-container" {{ stimulus_target('tkuska--dynamic-form--form-collection', 'collectionContainer') }}>
            {% for field in form.fields %}
                {{ form_row(field) }}
            {% endfor %}
        </div>
        {% do form.fields.setRendered %}
        <button type="button" class="btn btn-secondary" {{ stimulus_action('tkuska--dynamic-form--form-collection', 'addCollectionElement') }}>
            {{ 'add-item'|trans }}</button>
    </div>
{%- endblock dynamic_form_widget %}

{% block form_field_widget -%}
    <div class="collection-item row">
        <div class="col-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-6">
            {{ form_row(form.type) }}
        </div>
        <div class="col-6">
            {{ form_row(form.label) }}
        </div>
        <div class="col-6">
            {{ form_row(form.required) }}
        </div>
        <div class="col-12">
            {{ form_row(form.help) }}
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-warning" {{ stimulus_action('tkuska--dynamic-form--form-collection', 'removeCollectionElement') }}>{% trans %}button.remove-item{% endtrans %}</button>
        </div>
        {{ form_rest(form) }}
    </div>
{%- endblock form_field_widget %}